body {
    margin: 0;
    font-family: "Josefin Sans", serif;
    background: url(../images/detail_bg.png);
    background-repeat: no-repeat;
    /* 背景画像のサイズ */
    background-size: 100% 100vh;
  }
  header {
    margin: 10px 20px;
    /* 上下中央に配置 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 文字デザイン */
    font-weight: bold;
    color: #163020;
    font-size: 24px;
    position: relative;
  }
  #home {
    /* 左に配置 */
    position: absolute;
    left: 10px;
    top: -8px;
  }
  
  #home img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
  }
  

  main {
    /* 中央に配置 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
  }
  

  #search_icon {
    position: absolute;
    top: 10px;
    right: 30px;
    width: 40px;
    height: 40px;
  }

  #name_wrap {
    /* 配置 */
    margin: 10px auto;
    /* サイズ */
    width: 300px;
    height: 200px;

    padding: 5px;
  }
  #icon {
    display: flex;
    justify-content: center;
    align-items: center;
    /* 配置 */
    margin: 10px auto;
    /* サイズ */
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
  }
  #name {
    /* 文字デザイン */
    color: #163020;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  #relation_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    /* サイズ */
    overflow-x: scroll;
    width: 100%;

  }
  .relation{
    /* 文字デザイン */
    color: #163020;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
  }
  #title {
    position: absolute;
    top: 200px;
    left: 20px;
    /* 文字デザイン */
    color: #163020;
    font-size: 18px;
    font-weight: bold;
}
/* 会話リストのスクロール */
  #talk_wrap{
    overflow-y: scroll;
    margin-top: 20px;
    height: 400px;

  }

  #detail_wrap {
    /* 配置 */
    margin: 10px auto;
    /* サイズ */
    width: 300px;
    height: 300px;

  }
.talk_list{
    /* 文字デザイン */
    color: #163020;
    font-family: "Josefin Sans", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    border: #598A6A 2px solid;
    margin: 20px;
    padding: 10px;
    /* 背景 */
    background-color:#598A6A;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

/* 時間 */
.time_wrap{
    display: flex;
    height: fit-content;
    gap: 8px;
    background-color: #F6F0E4;
    padding:0 5px;
    border-radius: 5px;
}
.time_wrap p{
    margin: 0px;
}
/* 話題 */
.theme_wrap{
    display: flex;
    height: fit-content;
}
.theme_text{
    margin: 0;
    display: flex;
    gap: 8px;
}
/* 会話メモ　1行のみ表示する */
.memo{
    margin-top: 0;
    width: 100%;            /* 親要素に合わせて幅を設定 */
    max-width: 300px;       /* 最大幅を設定 */
    white-space: nowrap; /* 折り返し無しにする */
    overflow: hidden; /* はみ出た部分を非表示 */
    text-overflow: ellipsis; /* 語尾を3点リーダーに */
}

/* 画面遷移要素 */

footer {
  margin-top: 20px;
  /* 上下中央に配置 */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ボタン親 */
footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

/* ボタン */
.transition {
  /* サイズを円状にする */
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background-color: #598A6A;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

/* 画面遷移ボタンのアイコン */
.transition img {
  width: 45px;
  height: 50px;
}

/* 画面遷移ボタンのテキスト */
.transition div {
  font-family: "Josefin Sans", serif;
  /* 文字デザイン */
  color: #F6F0E4;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* トーク開始ボタン */
#match {
  width: 110px;
  height: 110px;
  border-radius: 100%;
}

/* トーク開始ボタンのアイコン */
#match img {
  width: 60px;
  height: 60px;
}

/* トーク開始ボタンのテキスト */
#match div {
  font-family: "Josefin Sans", serif;
  /* 文字デザイン */
  color: #F6F0E4;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.save-button {
  /* 四角にする */
  border-radius: 5px;
  background-color: #598A6A;
  border: none;
  color: #F6F0E4;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 5px 0px;
}