body {
    margin: 0;
    font-family: "Josefin Sans", serif;
    background: url(../images/search_bg.jpg);
    background-repeat: no-repeat;
    /* 背景画像のサイズ */
    background-size: 100% 100vh;
}
main {
    /* 中央に配置 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#name_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    /* 配置 */
    margin: 20px auto;
    height: 250px;
}

#name{
    font-size: 18px;
    font-weight: bold;
}

#name_wrap div{
    /* 文字デザイン */
    color: #3c0f0a;
    margin-left: 10px;
    margin-bottom: 0px;
    width: fit-content;
    padding: 2px 10px;
    
}



#taiking_img {
    /* かさねる */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 200px;
    height: 200px;
    /* 下に入れる */
    z-index: -1;
    /* 回転 */
    animation: 3s linear infinite rotation1;
}

/* 回転 */
@keyframes rotation1{
    0%{ transform:rotateY(0);}
    100%{ transform:rotateY(360deg); }
  }