.scroll-content{
    margin     : auto;
    width      : 96%;
    font-size  : 140%;
    line-height: 1.5em;
    text-align : center;
    border     : 1px solid #666;
    color      : #000000;
    background : #fff;
    overflow   : hidden;
}

scroll-item item1{
    display     : inline-block;
    padding-left: 100%;
    white-space : nowrap;
    line-height : 1em;
    animation   : scrollAnime 3s linear infinite;
}

@keyframes scrollAnime{
    0% { transform: translateX(0)}
    100% { transform: translateX(-100%)}
}

img1{
    bottom: 90px;
    right: -20px;
        width: 100px;
        height: 100px;
        text-align: center;
        margin: 30px 170px;
        position: absolute;
        margin-top: 50px;
}

/* 画面遷移要素 */
footer {
    margin: 20px;
    /* 上下中央に配置 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 文字デザイン */
    font-weight: bold;
    color: #163020;
    font-size: 24px;
}

  /* ボタン親 */
footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
  /* ボタン */
.transition {
    /* サイズを円状にする */
    width: 75px;
    height: 75px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #598A6A;
    gap: 0px;
}
  /* 画面遷移ボタンのアイコン */
.transition img {
    width: 45px;
    height: 50px;
}

  /* 画面遷移ボタンのテキスト */
.transition div {
    font-family: "Josefin Sans", serif;
    /* 文字デザイン */
    color: #F6F0E4;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  /* トーク開始ボタン */
#match{
    width: 110px;
    height: 110px;
    border-radius: 100%;
}
  /* トーク開始ボタンのアイコン */
#match img {
    width: 60px;
    height: 60px;
}

  /* トーク開始ボタンのテキスト */
#match div {
    font-family: "Josefin Sans", serif;
    /* 文字デザイン */
    color: #F6F0E4;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
